@media screen and (min-width: 750px) { 
    #ProductCardImage-collection-template-1415138639938 {
      /*max-width: 125.66489361702128px;*/
      max-height: 250px;
    }
    #ProductCardImageWrapper-collection-template-1415138639938 {
      /*max-width: 125.66489361702128px;*/
      max-height: 250px;
    }
   } 
  
  
    
    @media screen and (max-width: 749px) {
      #ProductCardImage-collection-template-1415138639938 {
        max-width: 376.99468085106383px;
        max-height: 750px;
      }
      #ProductCardImageWrapper-collection-template-1415138639938 {
        max-width: 376.99468085106383px;
      }
    }
          
                  
    @media screen and (min-width: 750px) { 
        #ProductCardImage-collection-template-1445014470722 {
          max-width: 250px;
          max-height: 250.0px;
        }
        #ProductCardImageWrapper-collection-template-1445014470722 {
          max-width: 250px;
          max-height: 250.0px;
        }
       } 
      
      
        
        @media screen and (max-width: 749px) {
          #ProductCardImage-collection-template-1445014470722 {
            max-width: 600px;
            max-height: 750px;
          }
          #ProductCardImageWrapper-collection-template-1445014470722 {
            max-width: 600px;
          }
        }
        @media screen and (min-width: 750px) { 
            #ProductCardImage-collection-template-1416365539394 {
              max-width: 196.24447717231223px;
              max-height: 250px;
            }
            #ProductCardImageWrapper-collection-template-1416365539394 {
              max-width: 196.24447717231223px;
              max-height: 250px;
            }
           } 
          
          
            
            @media screen and (max-width: 749px) {
              #ProductCardImage-collection-template-1416365539394 {
                max-width: 588.7334315169367px;
                max-height: 750px;
              }
              #ProductCardImageWrapper-collection-template-1416365539394 {
                max-width: 588.7334315169367px;
              }
            }
            @media screen and (min-width: 750px) { 
                #ProductCardImage-collection-template-1434842366018 {
                  max-width: 186.21575342465755px;
                  max-height: 250px;
                }
                #ProductCardImageWrapper-collection-template-1434842366018 {
                  max-width: 186.21575342465755px;
                  max-height: 250px;
                }
               } 
              
              
                
                @media screen and (max-width: 749px) {
                  #ProductCardImage-collection-template-1434842366018 {
                    max-width: 558.6472602739726px;
                    max-height: 750px;
                  }
                  #ProductCardImageWrapper-collection-template-1434842366018 {
                    max-width: 558.6472602739726px;
                  }
                }
                @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-1296083451970 {
                      max-width: 200.45558086560365px;
                      max-height: 250px;
                    }
                    #ProductCardImageWrapper-collection-template-1296083451970 {
                      max-width: 200.45558086560365px;
                      max-height: 250px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-1296083451970 {
                        max-width: 601.3667425968109px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-1296083451970 {
                        max-width: 601.3667425968109px;
                      }
                    }
                    @media screen and (min-width: 750px) { 
                        #ProductCardImage-collection-template-743954415682 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                        #ProductCardImageWrapper-collection-template-743954415682 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                       } 
                      
                      
                        
                        @media screen and (max-width: 749px) {
                          #ProductCardImage-collection-template-743954415682 {
                            max-width: 500px;
                            max-height: 750px;
                          }
                          #ProductCardImageWrapper-collection-template-743954415682 {
                            max-width: 500px;
                          }
                        }
                               
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-1362935513154 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                    #ProductCardImageWrapper-collection-template-1362935513154 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-1362935513154 {
                        max-width: 750px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-1362935513154 {
                        max-width: 750px;
                      }
                    }
                         
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-665808109634 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                    #ProductCardImageWrapper-collection-template-665808109634 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-665808109634 {
                        max-width: 750px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-665808109634 {
                        max-width: 750px;
                      }
                    }
                    @media screen and (min-width: 750px) { 
                        #ProductCardImage-collection-template-1370161152066 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                        #ProductCardImageWrapper-collection-template-1370161152066 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                       } 
                      
                      
                        
                        @media screen and (max-width: 749px) {
                          #ProductCardImage-collection-template-1370161152066 {
                            max-width: 600px;
                            max-height: 750px;
                          }
                          #ProductCardImageWrapper-collection-template-1370161152066 {
                            max-width: 600px;
                          }
                        }
                        @media screen and (min-width: 750px) { 
                            #ProductCardImage-collection-template-1398454878274 {
                              max-width: 243.17295188556568px;
                              max-height: 250px;
                            }
                            #ProductCardImageWrapper-collection-template-1398454878274 {
                              max-width: 243.17295188556568px;
                              max-height: 250px;
                            }
                           } 
                          
                          
                            
                            @media screen and (max-width: 749px) {
                              #ProductCardImage-collection-template-1398454878274 {
                                max-width: 729.518855656697px;
                                max-height: 750px;
                              }
                              #ProductCardImageWrapper-collection-template-1398454878274 {
                                max-width: 729.518855656697px;
                              }
                            }
                            
                  
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-1570509062210 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                    #ProductCardImageWrapper-collection-template-1570509062210 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-1570509062210 {
                        max-width: 600px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-1570509062210 {
                        max-width: 600px;
                      }
                    }
                    @media screen and (min-width: 750px) { 
                        #ProductCardImage-collection-template-1523052216386 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                        #ProductCardImageWrapper-collection-template-1523052216386 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                       } 
                      
                      
                        
                        @media screen and (max-width: 749px) {
                          #ProductCardImage-collection-template-1523052216386 {
                            max-width: 480px;
                            max-height: 750px;
                          }
                          #ProductCardImageWrapper-collection-template-1523052216386 {
                            max-width: 480px;
                          }
                        }
                         
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-1338772521026 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                    #ProductCardImageWrapper-collection-template-1338772521026 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-1338772521026 {
                        max-width: 720px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-1338772521026 {
                        max-width: 720px;
                      }
                    }
                  
                    @media screen and (min-width: 750px) { 
                        #ProductCardImage-collection-template-1339226816578 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                        #ProductCardImageWrapper-collection-template-1339226816578 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                       } 
                      
                      
                        
                        @media screen and (max-width: 749px) {
                          #ProductCardImage-collection-template-1339226816578 {
                            max-width: 540px;
                            max-height: 750px;
                          }
                          #ProductCardImageWrapper-collection-template-1339226816578 {
                            max-width: 540px;
                          }
                        }
                         
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-741298667586 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                    #ProductCardImageWrapper-collection-template-741298667586 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-741298667586 {
                        max-width: 590px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-741298667586 {
                        max-width: 590px;
                      }
                    }
                        
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-1303797039170 {
                      max-width: 250px;
                      max-height: 245.114006514658px;
                    }
                    #ProductCardImageWrapper-collection-template-1303797039170 {
                      max-width: 250px;
                      max-height: 245.114006514658px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-1303797039170 {
                        max-width: 307px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-1303797039170 {
                        max-width: 307px;
                      }
                    }
                    @media screen and (min-width: 750px) { 
                        #ProductCardImage-collection-template-743901724738 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                        #ProductCardImageWrapper-collection-template-743901724738 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                       } 
                      
                      
                        
                        @media screen and (max-width: 749px) {
                          #ProductCardImage-collection-template-743901724738 {
                            max-width: 640px;
                            max-height: 750px;
                          }
                          #ProductCardImageWrapper-collection-template-743901724738 {
                            max-width: 640px;
                          }
                        }
                             
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-1354899849282 {
                      max-width: 204.08163265306123px;
                      max-height: 250px;
                    }
                    #ProductCardImageWrapper-collection-template-1354899849282 {
                      max-width: 204.08163265306123px;
                      max-height: 250px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-1354899849282 {
                        max-width: 612.2448979591837px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-1354899849282 {
                        max-width: 612.2448979591837px;
                      }
                    }
                    @media screen and (min-width: 750px) { 
                        #ProductCardImage-collection-template-1366673064002 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                        #ProductCardImageWrapper-collection-template-1366673064002 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                       } 
                      
                      
                        
                        @media screen and (max-width: 749px) {
                          #ProductCardImage-collection-template-1366673064002 {
                            max-width: 720px;
                            max-height: 750px;
                          }
                          #ProductCardImageWrapper-collection-template-1366673064002 {
                            max-width: 720px;
                          }
                        }
                           
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-1571905110082 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                    #ProductCardImageWrapper-collection-template-1571905110082 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-1571905110082 {
                        max-width: 750px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-1571905110082 {
                        max-width: 750px;
                      }
                    }
                    @media screen and (min-width: 750px) { 
                        #ProductCardImage-collection-template-1354490675266 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                        #ProductCardImageWrapper-collection-template-1354490675266 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                       } 
                      
                      
                        
                        @media screen and (max-width: 749px) {
                          #ProductCardImage-collection-template-1354490675266 {
                            max-width: 600px;
                            max-height: 750px;
                          }
                          #ProductCardImageWrapper-collection-template-1354490675266 {
                            max-width: 600px;
                          }
                        }
                        
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-1590253224002 {
                      max-width: 250px;
                      max-height: 118.34532374100719px;
                    }
                    #ProductCardImageWrapper-collection-template-1590253224002 {
                      max-width: 250px;
                      max-height: 118.34532374100719px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-1590253224002 {
                        max-width: 695px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-1590253224002 {
                        max-width: 695px;
                      }
                    }
                    @media screen and (min-width: 750px) { 
                        #ProductCardImage-collection-template-1363170689090 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                        #ProductCardImageWrapper-collection-template-1363170689090 {
                          max-width: 250px;
                          max-height: 250.0px;
                        }
                       } 
                      
                      
                        
                        @media screen and (max-width: 749px) {
                          #ProductCardImage-collection-template-1363170689090 {
                            max-width: 750px;
                            max-height: 750px;
                          }
                          #ProductCardImageWrapper-collection-template-1363170689090 {
                            max-width: 750px;
                          }
                        }
                      
                          
                  @media screen and (min-width: 750px) { 
                    #ProductCardImage-collection-template-1573667242050 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                    #ProductCardImageWrapper-collection-template-1573667242050 {
                      max-width: 250px;
                      max-height: 250.0px;
                    }
                   } 
                  
                  
                    
                    @media screen and (max-width: 749px) {
                      #ProductCardImage-collection-template-1573667242050 {
                        max-width: 600px;
                        max-height: 750px;
                      }
                      #ProductCardImageWrapper-collection-template-1573667242050 {
                        max-width: 600px;
                      }
                    }