
@media screen and (min-width: 750px) { 
            #FeaturedImage-product-template-2650346815554 {
              max-width: 530px;
              max-height: 530.0px;
            }
            #FeaturedImageZoom-product-template-2650346815554-wrapper {
              max-width: 530px;
              max-height: 530.0px;
            }
           } 
          
          
            
            @media screen and (max-width: 749px) {
              #FeaturedImage-product-template-2650346815554 {
                max-width: 640px;
                max-height: 750px;
              }
              #FeaturedImageZoom-product-template-2650346815554-wrapper {
                max-width: 640px;
              }
            }
            
            @media screen and (min-width: 750px) { 
            #FeaturedImage-product-template-2650347241538 {
              max-width: 530px;
              max-height: 527.515625px;
            }
            #FeaturedImageZoom-product-template-2650347241538-wrapper {
              max-width: 530px;
              max-height: 527.515625px;
            }
           } 
          
          
            
            @media screen and (max-width: 749px) {
              #FeaturedImage-product-template-2650347241538 {
                max-width: 640px;
                max-height: 750px;
              }
              #FeaturedImageZoom-product-template-2650347241538-wrapper {
                max-width: 640px;
              }
            }
            @media screen and (min-width: 750px) { 
            #FeaturedImage-product-template-2650347274306 {
              max-width: 530px;
              max-height: 528.3437500000001px;
            }
            #FeaturedImageZoom-product-template-2650347274306-wrapper {
              max-width: 530px;
              max-height: 528.3437500000001px;
            }
           } 
          
          
            
            @media screen and (max-width: 749px) {
              #FeaturedImage-product-template-2650347274306 {
                max-width: 640px;
                max-height: 750px;
              }
              #FeaturedImageZoom-product-template-2650347274306-wrapper {
                max-width: 640px;
              }
            }
          

